<div class="mediz-navigation-bar-wrap  mediz-style-solid mediz-sticky-navigation mediz-sticky-navigation-height mediz-style-left  mediz-style-fixed"
    style="">
    <div class="mediz-navigation-background"></div>
    <div class="mediz-navigation-container clearfix  mediz-container">
        <div class="mediz-navigation mediz-item-pdlr clearfix ">
            <div class="mediz-main-menu sf-js-enabled sf-arrows" id="mediz-main-menu" style="touch-action: pan-y;">
                <ul id="menu-main-navigation-1" class="sf-menu">
                    <li
                        class="menu-item menu-item-home current-menu-item page_item page-item-7684 current_page_item mediz-normal-menu">
                        <a href="#">Home</a></li>
                    <li class="menu-item menu-item-has-children mediz-normal-menu"><a href="#"
                            class="sf-with-ul-pre sf-with-ul">About Us</a>
                        <ul class="sub-menu" style="display: none;">
                            <li class="menu-item" data-size="60"><a href="about-us.html">About Us</a></li>
                            <li class="menu-item" data-size="60"><a href="about-us-2.html">About Us 2</a></li>
                            <li class="menu-item" data-size="60"><a href="our-services.html">Our Services</a></li>
                            <li class="menu-item" data-size="60"><a href="our-services-2.html">Our Services 2</a></li>
                            <li class="menu-item" data-size="60"><a href="our-services-3.html">Our Services 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children mediz-mega-menu"><a
                            href="https://max-themes.net/demos/mediz/hospital/index.html"
                            class="sf-with-ul-pre sf-with-ul">Our Services</a>
                        <div class="sf-mega sf-mega-full"
                            style="background-image: url(&quot;upload/mega-nav-bg.jpg&quot;); background-position: left top; background-repeat: no-repeat; display: none;">
                            <div class="sf-mega-section-wrap">
                                <div class="sf-mega-section mediz-column-15">
                                    <div class="sf-mega-section-inner menu-item">
                                        <div class="mediz-mega-menu-section-content"><span
                                                class="gdlr-core-space-shortcode" style="margin-top: 140px ;"></span>
                                            <div style="display: block; margin-left: 15px;">
                                                <img src="{{'assets/images/mega-nav-logo.png'|theme}}"
                                                    width="98" alt=""><span class="gdlr-core-space-shortcode"
                                                    style="margin-top: 10px ;"></span>
                                                <span style="font-size: 14px;">One of the first major discov eries
                                                    relevant to the field of pulmo nology was the disco very </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sf-mega-section mediz-column-15">
                                    <div class="sf-mega-section-inner menu-item menu-item-has-children"><a
                                            href="https://max-themes.net/demos/mediz/hospital/index.html#"
                                            class="sf-with-ul-pre">Our Services</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/lung-diseases.html">Lung
                                                    Diseases</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/heart.html">Heart
                                                    Diseases</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/orthopaedic.html">Orthopaedic</a>
                                            </li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/general-surgery.html">General
                                                    Surgery</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/eye-care.html">Eye
                                                    Care</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/dental-service.html">Dental
                                                    Service</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/sport-injury.html">Sport
                                                    Injury</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-mega-section mediz-column-15">
                                    <div class="sf-mega-section-inner menu-item menu-item-has-children"><a
                                            href="https://max-themes.net/demos/mediz/hospital/index.html#"
                                            class="sf-with-ul-pre">Sub Services</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/lumbar-discectomy.html">Lumbar
                                                    Discectomy</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/endoscopy.html">Endoscopy</a>
                                            </li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/knee-arthroscopy-2.html">Elbow
                                                    Arthroscopy</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/colorectal.html">Colorectal</a>
                                            </li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/knee-arthroscopy.html">Knee
                                                    Arthroscopy</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/hemorrhoids.html">Hemorrhoids</a>
                                            </li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/cardio-oncology.html">Cardio
                                                    Oncology</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-mega-section mediz-column-15">
                                    <div class="sf-mega-section-inner menu-item menu-item-has-children"><a
                                            href="https://max-themes.net/demos/mediz/hospital/index.html#"
                                            class="sf-with-ul-pre">Service Listing Style</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/our-services.html">Our
                                                    Services</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/our-services-2.html">Our
                                                    Services 2</a></li>
                                            <li class="menu-item"><a
                                                    href="https://max-themes.net/demos/mediz/hospital/our-services-3.html">Our
                                                    Services 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-has-children  mediz-normal-menu"><a
                            href="https://max-themes.net/demos/mediz/hospital/our-doctor.html"
                            class="sf-with-ul-pre sf-with-ul">Our Doctor</a>
                        <ul class="sub-menu" style="display: none;">
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/our-doctor.html">Our Doctor</a>
                            </li>
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/our-doctor-2.html">Our Doctor
                                    2</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children mediz-normal-menu"><a
                            href="https://max-themes.net/demos/mediz/hospital/index.html#"
                            class="sf-with-ul-pre sf-with-ul">Pages</a>
                        <ul class="sub-menu" style="display: none;">
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/contact.html">Contact</a></li>
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/team-plain-style.html">Team</a>
                            </li>
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/gallery.html">Gallery</a></li>
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/price-table.html">Price Table</a>
                            </li>
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/maintenance.html">Maintenance</a>
                            </li>
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/coming-soon.html">Coming Soon</a>
                            </li>
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/404.html">404 Page</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children mediz-normal-menu"><a
                            href="https://max-themes.net/demos/mediz/hospital/portfolio-3-columns.html"
                            class="sf-with-ul-pre sf-with-ul">Portfolio</a>
                        <ul class="sub-menu" style="display: none;">
                            <li class="menu-item menu-item-has-children" data-size="60"><a
                                    class="sf-with-ul-pre sf-with-ul">Portfolio Grid</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-2-columns.html">Portfolio
                                            2 Columns</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-3-columns.html">Portfolio
                                            3 Columns</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-4-columns.html">Portfolio
                                            4 Columns</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-2-columns-with-frame.html">Portfolio
                                            2 Columns With Frame</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-3-columns-with-frame.html">Portfolio
                                            3 Columns With Frame</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-4-columns-with-frame.html">Portfolio
                                            4 Columns With Frame</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-2-columns-no-space.html">Portfolio
                                            2 Columns No Space</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-3-columns-no-space.html">Portfolio
                                            3 Columns No Space</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-4-columns-no-space.html">Portfolio
                                            4 Columns No Space</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children" data-size="60"><a
                                    class="sf-with-ul-pre sf-with-ul">Portfolio Side Thumbnail</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-left-right-large-thumbnail.html">Portfolio
                                            Left &amp; Right Large Thumbnail</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-left-large-thumbnail.html">Portfolio
                                            Left Large Thumbnail</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/portfolio-right-large-thumbnail.html">Portfolio
                                            Right Large Thumbnail</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children  mediz-normal-menu"><a
                            href="https://max-themes.net/demos/mediz/hospital/blog-full-right-sidebar.html"
                            class="sf-with-ul-pre sf-with-ul">Blog</a>
                        <ul class="sub-menu" style="display: none;">
                            <li class="menu-item menu-item-has-children" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/blog-full-right-sidebar-with-frame.html"
                                    class="sf-with-ul-pre sf-with-ul">Blog Full</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-full-right-sidebar-with-frame.html">Blog
                                            Full Right Sidebar With Frame</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-full-left-sidebar-with-frame.html">Blog
                                            Full Left Sidebar With Frame</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-full-both-sidebar-with-frame.html">Blog
                                            Full Both Sidebar With Frame</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-full-right-sidebar.html">Blog
                                            Full Right Sidebar</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-full-left-sidebar.html">Blog
                                            Full Left Sidebar</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-full-both-sidebar.html">Blog
                                            Full Both Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/blog-3-columns-with-frame.html"
                                    class="sf-with-ul-pre sf-with-ul">Blog Columns</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-2-columns-with-frame.html">Blog
                                            2 Columns With Frame</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-3-columns-with-frame.html">Blog
                                            3 Columns With Frame</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-4-columns-with-frame.html">Blog
                                            4 Columns With Frame</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-2-columns.html">Blog
                                            2 Columns</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-3-columns.html">Blog
                                            3 Columns</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-4-columns.html">Blog
                                            4 Columns</a></li>
                                    <li class="menu-item"><a
                                            href="https://max-themes.net/demos/mediz/hospital/blog-3-columns-with-frame-post-format.html">Blog
                                            Columns With Post Format</a></li>
                                </ul>
                            </li>
                            <li class="menu-item" data-size="60"><a
                                    href="https://max-themes.net/demos/mediz/hospital/standard-post-type.html">Single
                                    Posts</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="mediz-navigation-slide-bar  mediz-navigation-slide-bar-style-2" data-size-offset="0"
                    id="mediz-navigation-slide-bar" style="width: 45px; left: 20px; display: block; overflow: hidden;">
                </div>
            </div>
            <div class="mediz-main-menu-right-wrap clearfix ">
                <div class="mediz-main-menu-search" id="mediz-top-search"><i class="icon-magnifier"></i></div>

                <a class="mediz-main-menu-right-button mediz-button-1 mediz-style-round"
                    href="https://max-themes.net/demos/mediz/hospital/index.html#" target="_self">Contact Now</a>
            </div>
        </div>
        <!-- mediz-navigation -->

    </div>
    <!-- mediz-header-container -->
</div>