<header class="mediz-header-wrap mediz-header-style-bar mediz-header-background  mediz-style-left">
                <div class="mediz-header-container clearfix  mediz-container">
                    <div class="mediz-header-container-inner">
                        <div class="mediz-logo  mediz-item-pdlr">
                            <div class="mediz-logo-inner">
                                <a class="" href="{{'home'|page}}">
                                <img src="{{'assets/images/fcp-logo.png'|theme}}" alt="" width="290" height="76" title="logo"></a>
                            </div>
                        </div>
                        <div class="mediz-logo-right-text mediz-item-pdlr clearfix">
                            <div class="mediz-logo-right-text-wrap"><i class="mediz-logo-right-text-icon icon-check"></i>
                                <div class="mediz-logo-right-text-content-wrap">
                                    <div class="mediz-logo-right-text-title">Trusted By</div>
                                    <div class="mediz-logo-right-text-caption">120,000+ People</div>
                                </div>
                            </div>
                            <div class="mediz-logo-right-text-wrap"><i class="mediz-logo-right-text-icon icon-check"></i>
                                <div class="mediz-logo-right-text-content-wrap">
                                    <div class="mediz-logo-right-text-title">Best Hospital</div>
                                    <div class="mediz-logo-right-text-caption">U.K. News</div>
                                </div>
                            </div>
                            <div class="mediz-logo-right-text-wrap"><i class="mediz-logo-right-text-icon icon-check"></i>
                                <div class="mediz-logo-right-text-content-wrap">
                                    <div class="mediz-logo-right-text-title">Number #1</div>
                                    <div class="mediz-logo-right-text-caption">Clinic in London</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</header>