<div class="mediz-top-bar">
                <div class="mediz-top-bar-background"></div>
                <div class="mediz-top-bar-container mediz-container ">
                    <div class="mediz-top-bar-container-inner clearfix">
                        <div class="mediz-top-bar-left mediz-item-pdlr">
                            <i class="icon-clock" style="font-size: 18px ;color: #17449E ;margin-right: 10px ;"></i>Mon - Sun 0900 - 2100
                            <i class="icon-phone" style="font-size: 19px ;color: #17449E ;margin-left: 25px ;margin-right: 10px ;"></i>+1-2345-3455-33<i class="icon-envelope" style="font-size: 19px ;color: #17449E ;margin-left: 25px ;margin-right: 10px ;"></i><a href="https://max-themes.net/demos/mediz/hospital/index.html#"><span class="__cf_email__">test@gmail.com</span></a> </div>
                        <div class="mediz-top-bar-right mediz-item-pdlr">
                            <div class="mediz-top-bar-right-social">
                                <a href="#" target="_blank" class="mediz-top-bar-social-icon" title="facebook"><i class="fa fa-facebook"></i></a>
                            	<a href="#" target="_blank" class="mediz-top-bar-social-icon" title="linkedin"><i class="fa fa-linkedin"></i></a>
                            	<a href="#" target="_blank" class="mediz-top-bar-social-icon" title="pinterest"><i class="fa fa-pinterest-p"></i></a>
                            	<a href="#" target="_blank" class="mediz-top-bar-social-icon" title="twitter"><i class="fa fa-twitter"></i></a>
                            	<a href="#" target="_blank" class="mediz-top-bar-social-icon" title="instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
</div>